In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\Portfolio\WebScraping\Pararius\pararius_dataset.csv")

In [3]:
df.head()

,title,zipcode,price,area,room,interior
0,Apartment Prinsengracht,1015 DR Amsterdam (Grachtengordel-West),"€3,750 per month",104 m²,3 rooms,Upholstered or furnished
1,Apartment Raadhuisstraat,1016 DE Amsterdam (Grachtengordel-West),"€2,150 per month",70 m²,4 rooms,Not Mentioned
2,Apartment Eerste Jan van der Heijdenstraat 111 1A,1072 TN Amsterdam (Oude Pijp),"€1,600 per month",33 m²,2 rooms,Furnished
3,Apartment Kikkenstein 3734,"1104 TW Amsterdam (Bijlmer Oost (E,G,K))","€1,550 per month",94 m²,4 rooms,Not Mentioned
4,Apartment Geuzenstraat 74,1056 KG Amsterdam (Geuzenbuurt),"€2,500 per month",87 m²,3 rooms,Not Mentioned

In [4]:
#Extract numbers

df.price = df.price.str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)
df.area = df.area.str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)
df.room = df.room.str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)

In [5]:
df.head()

,title,zipcode,price,area,room,interior
0,Apartment Prinsengracht,1015 DR Amsterdam (Grachtengordel-West),3750.0,104,3,Upholstered or furnished
1,Apartment Raadhuisstraat,1016 DE Amsterdam (Grachtengordel-West),2150.0,70,4,Not Mentioned
2,Apartment Eerste Jan van der Heijdenstraat 111 1A,1072 TN Amsterdam (Oude Pijp),1600.0,33,2,Furnished
3,Apartment Kikkenstein 3734,"1104 TW Amsterdam (Bijlmer Oost (E,G,K))",1550.0,94,4,Not Mentioned
4,Apartment Geuzenstraat 74,1056 KG Amsterdam (Geuzenbuurt),2500.0,87,3,Not Mentioned

In [6]:
# Extract zipcode elements

df[['zip_num','zip_char','city','district']] = df.zipcode.str.split(' ',3,expand=True)
df.district = df.district.str.replace(')','')
df.district = df.district.str.replace('(','')

C:\Users\DEARUS~1\AppData\Local\Temp/ipykernel_6852/1263180430.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.district = df.district.str.replace(')','')
C:\Users\DEARUS~1\AppData\Local\Temp/ipykernel_6852/1263180430.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.district = df.district.str.replace('(','')

In [7]:
# Make standard zipcode

df['zip'] = df.zip_num + df.zip_char
df.head()

,title,zipcode,price,area,room,interior,zip_num,zip_char,city,district,zip
0,Apartment Prinsengracht,1015 DR Amsterdam (Grachtengordel-West),3750.0,104,3,Upholstered or furnished,1015,DR,Amsterdam,Grachtengordel-West,1015DR
1,Apartment Raadhuisstraat,1016 DE Amsterdam (Grachtengordel-West),2150.0,70,4,Not Mentioned,1016,DE,Amsterdam,Grachtengordel-West,1016DE
2,Apartment Eerste Jan van der Heijdenstraat 111 1A,1072 TN Amsterdam (Oude Pijp),1600.0,33,2,Furnished,1072,TN,Amsterdam,Oude Pijp,1072TN
3,Apartment Kikkenstein 3734,"1104 TW Amsterdam (Bijlmer Oost (E,G,K))",1550.0,94,4,Not Mentioned,1104,TW,Amsterdam,"Bijlmer Oost E,G,K",1104TW
4,Apartment Geuzenstraat 74,1056 KG Amsterdam (Geuzenbuurt),2500.0,87,3,Not Mentioned,1056,KG,Amsterdam,Geuzenbuurt,1056KG

In [8]:
# Make property type and address columns

df[['type','address']] = df.title.str.split(' ',1,expand=True)
df.head()

,title,zipcode,price,area,room,interior,zip_num,zip_char,city,district,zip,type,address
0,Apartment Prinsengracht,1015 DR Amsterdam (Grachtengordel-West),3750.0,104,3,Upholstered or furnished,1015,DR,Amsterdam,Grachtengordel-West,1015DR,Apartment,Prinsengracht
1,Apartment Raadhuisstraat,1016 DE Amsterdam (Grachtengordel-West),2150.0,70,4,Not Mentioned,1016,DE,Amsterdam,Grachtengordel-West,1016DE,Apartment,Raadhuisstraat
2,Apartment Eerste Jan van der Heijdenstraat 111 1A,1072 TN Amsterdam (Oude Pijp),1600.0,33,2,Furnished,1072,TN,Amsterdam,Oude Pijp,1072TN,Apartment,Eerste Jan van der Heijdenstraat 111 1A
3,Apartment Kikkenstein 3734,"1104 TW Amsterdam (Bijlmer Oost (E,G,K))",1550.0,94,4,Not Mentioned,1104,TW,Amsterdam,"Bijlmer Oost E,G,K",1104TW,Apartment,Kikkenstein 3734
4,Apartment Geuzenstraat 74,1056 KG Amsterdam (Geuzenbuurt),2500.0,87,3,Not Mentioned,1056,KG,Amsterdam,Geuzenbuurt,1056KG,Apartment,Geuzenstraat 74

In [9]:
# Build new data frame with correct columns

new_df = df[['title','type','interior','address','zip','city','district','area','room','price']]
new_df.columns = ['title','type','interior','address','zipcode','city','district','area_square_meter','room','monthly_price_euro']

In [10]:
# Remove duplicates

new_df.drop_duplicates(subset= ['zipcode','address'],keep='first',inplace=True)
new_df.head()

c:\Users\Dear User\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,title,type,interior,address,zipcode,city,district,area_square_meter,room,monthly_price_euro
0,Apartment Prinsengracht,Apartment,Upholstered or furnished,Prinsengracht,1015DR,Amsterdam,Grachtengordel-West,104,3,3750.0
1,Apartment Raadhuisstraat,Apartment,Not Mentioned,Raadhuisstraat,1016DE,Amsterdam,Grachtengordel-West,70,4,2150.0
2,Apartment Eerste Jan van der Heijdenstraat 111 1A,Apartment,Furnished,Eerste Jan van der Heijdenstraat 111 1A,1072TN,Amsterdam,Oude Pijp,33,2,1600.0
3,Apartment Kikkenstein 3734,Apartment,Not Mentioned,Kikkenstein 3734,1104TW,Amsterdam,"Bijlmer Oost E,G,K",94,4,1550.0
4,Apartment Geuzenstraat 74,Apartment,Not Mentioned,Geuzenstraat 74,1056KG,Amsterdam,Geuzenbuurt,87,3,2500.0

In [11]:
pd.DataFrame.to_csv(new_df,"D:\Portfolio\WebScraping\Pararius\pararius_refined.csv",index=False)